<!-- Begin Page Content -->
<div class="container-fluid">
  
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Demo-Dashboard</h1>
  </div>
  
  
  <!-- Content Row -->
  <div *ngIf="connected" class="row">
    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Gesamtportfolio
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">20.000 &euro;</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-dollar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Dieser Monat
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">+ 20 &euro; (+1 &percnt;)</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-bar-chart fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-4 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Anzahl Coins
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-ellipsis-v fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <!-- Content Row -->
  
  <div *ngIf="connected" class="row">
    
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Wie verteilt sich mein Portfolio</h6>
          <div class="dropdown no-arrow">
            <i class="fa fa-pie-chart fa-2x text-gray-300"></i>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
          
          </div>
        </div>
      </div>
    </div>
    
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Analyse</h6>
          <div class="dropdown no-arrow">
            <i class="fa fa-calculator fa-2x text-gray-300"></i>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="advise">
            <i class="fa fa-check-circle-o text-gray-300"></i> Risikoverteilung gering
            <span class="float-right">
              <a class="btn-link" *ngIf="!toggled1" (click)="toggled1 = !toggled1">mehr <i
              class="fa fa-arrow-circle-down"></i> </a>
              <a class="btn-link" *ngIf="toggled1" (click)="toggled1 = !toggled1">weniger <i
              class="fa fa-arrow-circle-up"></i></a>
            </span>
            <div *ngIf="toggled1">
              <div class="alert alert-warning" role="alert">
                <h6>Nur 3 Coins im Portfolio</h6>
                <div><i class="fa fa-wrench"></i> Verteile das Risiko auf weitere Coins</div>
              </div>
              <div class="alert alert-warning" role="alert">
                <h6>1 Coin hat 50%</h6>
                <div><i class="fa fa-wrench"></i> Verteile das Risiko auf weitere Coins</div>
              </div>
            </div>
          </div>
          <div class="advise">
            <i class="fa fa-check-circle-o text-gray-300"></i> Renditechancen nicht genutzt
            <span class="float-right">
              <a class="btn-link" *ngIf="!toggled2" (click)="toggled2 = !toggled2">mehr <i
              class="fa fa-arrow-circle-down"></i> </a>
              <a class="btn-link" *ngIf="toggled2" (click)="toggled2 = !toggled2">weniger <i
              class="fa fa-arrow-circle-up"></i></a>
            </span>
            <div *ngIf="toggled2">
              <div class="alert alert-warning" role="alert">
                <h6>Kein Coin generiert Renditen</h6>
                <div><i class="fa fa-wrench"></i> Du könntest die Coins ins Staking geben.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Content Row -->
  <div *ngIf="connected" class="row">
    
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
      
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Neueste Angebote</h6>
          <div class="dropdown no-arrow">
            <i class="fa fa-shopping-bag fa-2x text-gray-300"></i>
          </div>
        </div>
        <div class="card-body">
          <div class="offer">
            <h4 class="small font-weight-bold">
              Binance
              <span class="float-right">8.5% APY</span>
            </h4>
            <div>
              30 Tage Staking von ADA
              <a class="float-right btn-link">Zum Angebot</a>
            </div>
          
          </div>
          
          <div class="offer">
            <h4 class="small font-weight-bold">
              Lido
              <span class="float-right">6.6% APY</span>
            </h4>
            <div>
              Staking von ETH
              <a class="float-right btn-link">Zum Angebot</a>
            </div>
            <div class="small">
              Vorsicht: Bei der Einzahlung fällt eine Gebühr an
            </div>
          
          </div>
        
        </div>
      
      </div>
    
    </div>
  
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
    
      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">News</h6>
          <div class="dropdown no-arrow">
            <i class="fa fa-newspaper-o fa-2x text-gray-300"></i>
          </div>
        </div>
        <div class="card-body">
          <div class="offer">
            
            Bitcoin bei 55.000 USD
            
          </div>
        
          <div class="offer">
            
            OpenSea bricht Verkaufsrekord
            
          </div>
  
  
          <div class="offer">
    
            Ethereum Update ...
  
          </div>
        
        </div>
    
      </div>
  
    </div>
    
  </div>

</div>
