<!-- Begin Page Content -->
<div class="container-fluid">
  
  <!-- Page Heading -->
  <div class="mb-4">
    <h1 class="h3 mb-0 text-gray-800">Beantworte ein paar Fragen,</h1>
    <div>
      so daß wir dir besser helfen können
    </div>
  </div>
  
  
  <!-- Content Row -->
  <div class="row">
  
    <div class="card col-xs-12 col-md-12">
      <div class="card-body">
        <h5 class="card-title">Mit welchem Coin möchtest du verdienen?</h5>
        <div class="card-text">
          <span *ngFor="let coin of coins | async; let i = index;" class="mr-4" (click)="selectCoin(coin)">
            <span *ngIf="i < coinCap"
                  class="badge
                  {{coin === selectedCoin ? 'badge-primary' : 'badge-light'}}
                  {{whiteList.indexOf(coin) > -1 ? 'badge-large' : ''}}">
              {{coin}}
            </span>
          </span>
          <ng-container *ngIf="(coins|async).length as coinsLength">
            <span class="float-right" *ngIf="coinCap < coinsLength">
            <button class="btn btn-link" (click)="coinCap = coinsLength">Zeige alle Coins</button>
          </span>
          </ng-container>
          
        </div>
      </div>
    </div>
  
  
    <div class="col-xs-12 col-md-12 mt-4 mb-4">
      <button class="btn btn-primary btn-large float-right">Weiter</button>
    </div>
    
  </div>
  
</div>
