<!-- Begin Page Content -->
<div class="container-fluid">
  
  <div class="spinner-border" role="status" *ngIf="!(selectedCoins$|async)?.length && !(coinLoadingError$|async)">
    <span class="sr-only">Loading...</span>
  </div>
  
  <div class="alert alert-danger" *ngIf="(coinLoadingError$|async)">
    {{coinLoadingError$|async}}
  </div>
  
  <!-- Page Heading -->
  <div class="mb-4">
    <h1 class="h3 mb-0 text-gray-800">Deine Auswahl</h1>
  </div>
  
  <div class="card mb-4">
    <div class="row p-4">
      <div class="cursor-pointer col-6"
           (click)="resetCoin()">
        <span>
          <span *ngIf="!selectedCoin">1. Wähle den Coin</span>
          <span *ngIf="selectedCoin">Dein Coin: <b>{{selectedCoin}}</b>
           &nbsp; <i class="fa fa-pencil"></i>
          </span>
        </span>
      </div>
      <div class="cursor-pointer col-6"
           (click)="goToStep(2)">
        <span>
          <span *ngIf="selectedRisk == -1">2. Bestimme dein Risiko</span>
          <span *ngIf="selectedRisk > -1">Dein Risiko: <b>{{risks[selectedRisk].name}}</b>
             &nbsp; <i class="fa fa-pencil"></i>
          </span>
        </span>
      </div>
    </div>
  </div>
  
  <!-- Content Row -->
  
  <div class="card col-xs-12 col-md-12" *ngIf="currentStep === 1">
    <div class="card-body">
      <h5 class="card-title mb-5">
        <div class="float-left max-width-50">
           Mit welchem Coin möchtest du verdienen?
        </div>
        <button *ngIf="selectedCoin" class="btn btn-primary btn-sm float-right" (click)="goToStep(2)">Weiter</button>
      </h5>
      <div class="card-text">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Suche:</span>
          </div>
          <input (keyup)="searchCoin($event)" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <span *ngFor="let coin of selectedCoins$ | async; let i = index;" class="mr-4" (click)="selectCoin(coin)">
          <span *ngIf="i < coinCap"
                class="badge
                {{coin === selectedCoin ? 'badge-primary' : 'badge-light'}}
                {{whiteList.indexOf(coin) > -1 ? 'badge-large' : ''}}">
            {{coin}}
          </span>
        </span>
        <ng-container *ngIf="(selectedCoins$|async)?.length as coinsLength">
          <span class="float-right" *ngIf="coinCap < coinsLength">
            <button class="btn btn-link" (click)="coinCap = coinsLength">Zeige alle Coins</button>
          </span>
        </ng-container>
      </div>
    </div>
    
    
  </div>
  
  
  <!-- Content Row -->
  <div class="" *ngIf="currentStep === 2">
    <div class="card col-xs-12 col-md-12">
      <div class="card-body">
        <h5 class="card-title mb-5">
          <div class="float-left max-width-50">
            Welches Risiko möchtest du gehen?
          </div>
          <button class="btn btn-primary btn-sm float-right" (click)="goToStep(3)">Zeig mir die Ergebnisse</button>
        </h5>
        <div class="card-text">
          <app-slider [currentRisk]="selectedRisk" (newItemEvent)="setRisk($event)"></app-slider>
        </div>
      </div>
    </div>
    
  
  </div>
  
  <!-- Page Heading -->
  <div class="mb-4" *ngIf="currentStep == 3">
    <h1 class="h3 mb-0 text-gray-800 max-width-50">Deine Ergebnisse</h1>
  </div>

  <div *ngIf="currentStep == 3">
    <app-results [coin]="selectedCoin" [risk]="selectedRisk"></app-results>
  </div>

</div>
