<!-- Begin Page Content -->
<div class="container-fluid">
  
  <div class="text-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Verdienst du schon mit deinen Coins?</h1>
  </div>
  
  <div class="text-center">
    Siehe alle Möglichkeiten, <a [routerLink]="'/start/btc/alle-risiken'">BTC</a> oder
    <a [routerLink]="'/start/eth/alle-risiken'">ETH</a> anzulegen.
  </div>
  
  <div class="carousel slide mt-4 mb-4" data-ride="carousel" *ngIf="(offers$ | async) as offers">
    <h5 *ngIf="offers.length > 0" class="text-center mt-2 mb-2">
      Oder checke die neuesten Angebote:
    </h5>
    
    <div class="carousel-inner text-center" *ngIf="offers.length > 0">
      <div class="carousel-item {{i === currentOffer ? 'active' : ''}}"
           *ngFor="let offer of offers; let i = index">
        <div>
          {{offer.latestOffer.provider}}
        </div>
        <div *ngIf="offer.latestOffer.avgAnnualInterestRate > 0">
          <ng-template #showCoinInfo>
            <span>
              {{offer.latestOffer.coins}}
            </span>
          </ng-template>
          <span *ngIf="offer.latestOffer.slippageFee; else showCoinInfo">
            Pool {{offer.latestOffer.name}} :
          </span>
          <span *ngIf="offer.latestOffer.provider.toString().toLowerCase() === 'nexo'">
            bis zu
          </span>
          <span>
            {{offer.latestOffer.avgAnnualInterestRate * 100 | number:'1.2-8':'de'}} % Zinsen
          </span>
        </div>
        <div>
          <span *ngIf="offer.latestOffer.url">
            &nbsp;<a href="{{offer.latestOffer.url}}"><i class="fa fa-arrow-circle-o-right"></i> Direkt zum Angebot</a>
          </span>
        </div>
      </div>
    </div>
  
    <a class="carousel-control-prev" (click)="setCurrentOffer(-1)" *ngIf="offers.length > 0">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" (click)="setCurrentOffer(1)" *ngIf="offers.length > 0">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <h5 class="text-center mb-4 mt-4">
    Unsere Philosophie
  </h5>
  
  <!-- Content Row -->
  <div class="row mt-4">
    
    <div class="hero">
  
      <div class="text-center">
        HODLen ist gut. Aber HODLen und dabei Erträge generien ist noch besser.
        Bei Coingarden versuchen wir unter den vielen Angeboten die zu deinem
        Risikoappetit passenden Produkte und Angebote zu finden.
      </div>
      
      <div class="usps">
        Bei CoinGarden kannst du
        <h5 class="mb-2 mt-2">
          <i class="fa fa-check-circle"> dich informieren und </i>
        </h5>
        <h5 class="mb-2 mt-2">
          <i class="fa fa-check-circle"> mehr als 300 Angebote vergleichen. </i>
        </h5>
        <div class="text-center">
          <a [routerLink]="'start'" class="btn btn-primary">
            Jetzt starten
          </a>
        </div>
      </div>
      
    </div>

  </div>
  
</div>
