.usps {
  background: url('/assets/shape_green.svg');
  color: #333;
  background-repeat: no-repeat;
  padding: 5%;
}

.logo{
  max-width: 20px;
}
.carousel-item {
  padding: 0 60px;
}
.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  span {
    background-color: #999;
  }
}



