.hero {
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.png');
  background-size: 481px 285px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .usps {
    width: auto;
    height: auto;
    margin: 10% auto;
    padding: 5%;
    background: white;
    opacity: 0.8;
    color: #333;


  }
}
