<!-- Begin Page Content -->
<div class="container-fluid">
  
  <div class="text-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Verdienst du schon mit deinen Coins?</h1>
  </div>
  
  <div class="text-center">
    Siehe alle Möglichkeiten, mit deinen <a [routerLink]="'/start/btc/alle-risiken'">BTC</a> oder
    <a [routerLink]="'/start/eth/alle-risiken'">ETH</a> eine Rendite zu erzielen.
  </div>
  
  <div *ngIf="loading$|async">
    <div class="d-flex align-items-center">
      <strong>Lädt...</strong>
      <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
  </div>
  
  <div class="carousel slide mt-4 mb-4" data-ride="carousel" *ngIf="(offers$ | async) as offers">
    <div *ngIf="offers.length > 0" class="text-center mt-2 mb-2">
      Die neuesten <a [routerLink]="'/strategie/sparprodukte'">Zinsen</a>:
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Coin</th>
          <th *ngFor="let provider of provider$ | async">
            {{provider.name}}
          </th>
        </tr>
        <tr *ngFor="let featuredCoin of featuredCoins">
          <td>
            <div>
              <img src="assets/logos/{{featuredCoin}}.png" class="logo">
              <span>
                {{featuredCoin}}
              </span>
            </div>
            <div class="small">
              <a [routerLink]="'start/'+featuredCoin+'/wenig-risiko'">mehr Angebote</a>
            </div>
            
          </td>
          
          <td *ngFor="let provider of provider$ | async">
            <ng-container *ngFor="let offer of offers">
              <div *ngIf="offer.latestOffer.provider === provider.name
                          && offer.latestOffer.coins.indexOf(featuredCoin) > -1
                          && offer.latestOffer.type.toLowerCase().indexOf('saving') > -1
                          && offer.latestOffer.duration === 0">
                <span *ngIf="provider.name.toLowerCase() === 'nexo'; else otherProvider">max. </span>
                <ng-template #otherProvider>
                  <span>min. </span>
                </ng-template>
                <a href="{{offer.latestOffer.url}}" target="_blank">
                  {{offer.latestOffer.avgAnnualInterestRate * 100 | number:'1.2-2':'de'}} %
                </a>
                <div class="small">
                  (Laufzeit: {{offer.latestOffer.duration ? offer.latestOffer.duration + ' Tage' : 'Flexibel'}}; updated {{offer.latestOffer.updated | date:'dd.MM.YY'}})
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
        </thead>
      </table>
      <div class="float-right">
        <a [routerLink]="['/alle-angebote']">Alle Angebote <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
  
  <h5 class="text-center mb-4 mt-4">
    Unsere Philosophie
  </h5>
  
  <!-- Content Row -->
  <div class="row mt-4">
    
    <div class="col-md-6">
      <div>
        HODLen ist gut. Aber HODLen und dabei eine Rendite zu erzielen ist noch besser.
        Bei Coingarden versuchen wir unter den vielen Zinsangeboten die zu deinem
        Risikoappetit passenden Zinsprodukte zu finden.
      </div>
      <div>
        Dabei konzentrieren wir uns aber hauptsächlich auf die risikoarmen Anlageformen.
        In unseren diversen Artikeln im Bereich <a [routerLink]="'krypto-wissen'">Kryptowissen</a>
        erklären wir die Basics, die wir mit Youtube-Videos (zu unserem
        <a href="https://www.youtube.com/channel/UCyaPOLa4XFHy1_W4dR5TKsw" target="_blank">Youtube Kanal</a>
        und Infografiken anreichern.
      </div>
    </div>
    
    <div class="col-md-6 text-center usps">
      Bei CoinGarden kannst du
      <div class="mb-2 mt-2">
        <i class="fa fa-check-circle"></i> dich informieren und
      </div>
      <div class="mb-2 mt-2">
        <i class="fa fa-check-circle"></i> mehr als 300 Angebote vergleichen.
      </div>
      <div class="text-center">
        <a [routerLink]="'start'" class="btn btn-primary">
          Suche starten
        </a>
      </div>
    </div>

  </div>
  
  <!-- Content Row -->
  <div class="row">
  
    <div class="col-md-6 text-center usps-1">
      <div>
        Wir glauben, daß Coins und Kryptowährungen ein Teil unserer Zukunft sind.
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="">
        Aber wir sind auch dem Risiko bewusst, die die finanzielle Anlage in die
        Zukunft (und damit in Kryptowährungen) mit sich bringt. Daher raten wir,
        nie alles auf eine Karte zu setzen und stets Vorsicht walten zu lassen.
        Im Gegensatz zum Aktienmarkt handelt es sich hier um einen weitgehend
        unregulierten Markt. Das heißt aber nicht, daß alle Anbieter unseriös sind.
        Wir sprechen daher hier nur von ausgewählten und von uns als vertrauenswürdig
        erachteten Anbietern.
      </div>
    </div>
    
    
  
  </div>
  
</div>
