<!-- Page Wrapper -->
<div id="wrapper">
  
  
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    
    <!-- Main Content -->
    <div id="content">
      
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        
        <a routerLink="/" class="logo">
          <img src="assets/logo_coingarden.svg">
        </a>
  
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          
          <div class="topbar-divider d-none d-sm-block"></div>
          
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a [routerLink]="'start'">Rendite finden</a>
          </li>
        
        </ul>
      
      </nav>
      <!-- End of Topbar -->
      
      <router-outlet></router-outlet>


    </div>
    <!-- End of Main Content -->
  
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
  
      <div class="m-4 text-center">
        <div class="mt-3  overflow-auto">
          <span class="mr-4">
            Mehr über die <a [routerLink]="['/anbieter']">Anbieter</a>:
          </span>
          <span class="mr-4" *ngFor="let x of providers$|async">
            <a [routerLink]="['/anbieter', x.id.toString().toLowerCase()]">{{x.name}}</a>
          </span>
          
        </div>
      
<!--        <div class="mt-3 overflow-auto">-->
<!--          -->
<!--          <span class="mr-4">-->
<!--            Ausgewählte Angebote:-->
<!--          </span>-->
<!--          <span class="mr-4" *ngFor="let x of providers$|async">-->
<!--            <a [routerLink]="['/angebote', x.id.toString().toLowerCase()]">{{x.name}}</a>-->
<!--          </span>-->
<!--        </div>-->
      
      </div>
      
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Marek Sonnabend. Version 0.3.5</span> |
          <a [routerLink]="'blog'">Blog</a> |
          <a [routerLink]="'impressum'">Impressum</a> |
          <a [routerLink]="'datenschutz'">Datenschutz</a>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


