<div class="card" *ngIf="provider.name && product.name  else showError">
  <div class="card-header">
    <h5 class="mb-4 overflow-auto">
      {{product.de}} von {{provider.name}}
      <div class="small" *ngIf="provider.rewardForSignup">
        <span class="badge badge-primary">
          {{provider.rewardForSignup}} EURO
        </span>
        <span *ngIf="provider.rewardCondition">
          ("{{provider.rewardCondition}}")
        </span>
      </div>
    </h5>
    <div>
      <div *ngIf="product.name.indexOf('Wallet') > -1">
        <b>0 % Zinsen, aber hohe Sicherheit <i class="fa fa-exclamation-triangle"></i> </b>
      </div>
      <div *ngIf="(product.offers|async) as offers">
        <div class="alert alert-primary" *ngIf="offers.length > 0
        && offers[0].latestOffer
        && offers[0].latestOffer.avgAnnualInterestRate > 0">
          Aktuelle Angebote :
          <ng-container *ngFor="let offer of offers">
            <div class="font-weight-bold" *ngIf="offer.latestOffer.avgAnnualInterestRate > 0">
              <span *ngIf="provider.name.toString().toLowerCase() === 'nexo'">
                bis zu
              </span>
              <span *ngIf="offer.latestOffer.slippageFee">
                Pool {{offer.latestOffer.name}} :
              </span>
              <span>
                {{offer.latestOffer.avgAnnualInterestRate * 100 | number}} % Zinsen
              </span>
              <span *ngIf="offer.latestOffer.url">
                &nbsp;<a href="{{offer.latestOffer.url}}"><i class="fa fa-arrow-circle-o-right"></i> Direkt zum Angebot</a>
              </span>
            </div>
            <div class="small  mb-4">
              <div>
                Kosten:
                <span class="badge badge-small badge-warning">
                  max. {{product.feesInPercentMax * 100 | number}} %
                  {{product.name.toString().toLowerCase() === 'staking' ? 'Gebühren' : 'Kaufkosten'}}
                </span>
                <span class="badge badge-small badge-warning">
                  Netzwerkkosten (bei Übertrag)
                  <i class="fa fa-question-circle" (click)="showToolTip2 = true">
                  </i>
                </span>
                <span *ngIf="offer.latestOffer.slippageFee" class="badge badge-small badge-info">
                  mögliche {{offer.latestOffer.slippageFee * 10}} % Slippage (beim Pool)
                  <i class="fa fa-question-circle" (click)="showToolTip1 = true">
                  </i>
                </span>
              </div>
              <div>
                <span *ngIf="offer.latestOffer.duration">
                  Laufzeit: {{offer.latestOffer.duration}} Tage
                </span>
                <span *ngIf="offer.latestOffer.endDate">
                  (Ende: {{offer.latestOffer.endDate | date:'dd.MM.YY'}})
                </span>
              </div>
              <div>
                <span *ngIf="offer.latestOffer.rewardToken">
                  Reward-Token: {{offer.latestOffer.rewardToken}}
                </span>
              </div>
              <div>
                <span *ngIf="offer.latestOffer.updated">
                 (Stand: {{offer.latestOffer.updated | date:'dd.MM.YYYY'}})
                </span>
              </div>
              <div class="overflow-auto font-weight-bold" *ngIf="amountOfCoins">
                <div class="float-right">
                  Berechnete jährliche Rendite: {{calculateYield(offer)}} {{coin.toString().toUpperCase()}}
                </div>
              </div>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
  
    <button class="btn btn-link float-right" (click)="collapse = !collapse">
      <span *ngIf="!collapse">Mehr zum Produkt <i class="fa fa-arrow-circle-down"></i></span>
      <span *ngIf="collapse">Weniger <i class="fa fa-arrow-circle-up"></i></span>
    </button>
  </div>
  <div class="collapse {{collapse ? 'show' : ''}}" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <div>
        Über das Produkt:
      </div>
      <div class="mt-4">
        {{product.howTo.text}}
      </div>
      <div class="mt-4" *ngIf="product.url">
        <i class="fa fa-send"></i> Mehr Information auf der
        <a href="{{product.url}}" target="_blank">Webseite von {{provider.name}}</a>.
      </div>
      <div class="mt-4">
        Aktuelle Angebote / Renditen:
      </div>
      <div class="mt-4" *ngIf="product.howTo.image">
        <img src="/assets/{{product.howTo.image}}">
      </div>
      <div class="mt-4" *ngIf="product.howTo.video">
        <i class="fa fa-video-camera"></i> Sie dir auch ruhig das
        <a href="{{product.howTo.video}}" target="_blank">Video auf Youtube</a> an.
      </div>
      <div class="mt-4" *ngIf="product.howTo.blog">
        <i class="fa fa-newspaper-o"></i> Oder lies dir diesen interessanten
        <a href="{{product.howTo.blog}}" target="_blank">Blogpost</a> durch.
      </div>
      <hr/>
      <div class="mt-4">
        Über den Anbieter:
      </div>
      <div class="mt-4" *ngIf="provider.logo_url">
        <img src="{{provider.logo_url}}">
      </div>
      <div>
        {{provider.description}}
      </div>
      <div class="mt-4" *ngIf="provider.url">
        <i class="fa fa-send"></i> Mehr Information zum Anbieter findest du auf der
        <a href="{{provider.url}}" target="_blank">der Webseite von {{provider.name}}</a>.
      </div>
    </div>
  </div>
</div>
<ng-template #showError>
  Dieses Produkt konnte leider nicht gefunden werden.
</ng-template>

<div class="modal" *ngIf="showToolTip1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Slippage</h5>
        <button type="button" class="close" (click)="showToolTip1 = !showToolTip1">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        "Slippage ein Begriff, der sich auf die Differenz zwischen dem erwarteten Preis
        eines Geschäfts und dem tatsächlich erzielten Preis bezieht, zu dem das Geschäft
        ausgeführt wird."
        Quelle:
        <a href="https://www.avatrade.de/education/trading-for-beginners/what-is-slippage">
          https://www.avatrade.de/education/trading-for-beginners/what-is-slippage
        </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
        (click)="showToolTip1 = !showToolTip1">Schließen</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" *ngIf="showToolTip2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Netzwerkkosten</h5>
        <button type="button" class="close" (click)="showToolTip2 = !showToolTip2">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Netzwerkkosten fallen an, wenn Coins bzw. Kryptowährungen von einer Adresse
          an eine andere Adresse im Netzwerk bzw. in der Blockchain übertragen werden.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                (click)="showToolTip2 = !showToolTip2">Schließen</button>
      </div>
    </div>
  </div>
</div>
