<div class="card" *ngIf="provider.name && product.name  else showError">
  <div class="card-header">
    <h5 class="mb-4 overflow-auto">
      {{product.de}} von {{provider.name}}
  
      <div class="small" *ngIf="provider.rewardForSignup">
        <span class="badge badge-primary">
          {{provider.rewardForSignup}} EURO
        </span>
        <span *ngIf="provider.rewardCondition">
          ("{{provider.rewardCondition}}")
        </span>
      </div>
      <button class="btn btn-link float-right" (click)="collapse = !collapse">
        <span *ngIf="!collapse">Mehr zum Produkt <i class="fa fa-arrow-circle-down"></i></span>
        <span *ngIf="collapse">Weniger <i class="fa fa-arrow-circle-up"></i></span>
      </button>
    </h5>
    <div>
      <div *ngIf="product.name.indexOf('Wallet') > -1">
        <b>0 % Zinsen, aber hohe Sicherheit <i class="fa fa-exclamation-triangle"></i> </b>
      </div>
      <div *ngIf="(product.offers|async) as offers">
        <div class="alert alert-primary" *ngIf="offers.length > 0
        && offers[0].latestOffer
        && offers[0].latestOffer.avgAnnualInterestRate > 0">
          Aktuelles Angebot :
          <div class="font-weight-bold" *ngIf="offers[0].latestOffer.avgAnnualInterestRate > 0">
            <span *ngIf="provider.name.toString().toLowerCase() === 'nexo'">
              bis zu
            </span>
            {{offers[0].latestOffer.avgAnnualInterestRate * 100 | number}} % Zinsen
            <span *ngIf="offers[0].latestOffer.url">
              &nbsp;<a href="{{offers[0].latestOffer.url}}"><i class="fa fa-arrow-circle-o-right"></i> Direkt zum Angebot</a>
            </span>
          </div>
          <div class="small">
            <div>
              <span *ngIf="offers[0].latestOffer.duration">
                Laufzeit: {{offers[0].latestOffer.duration}} Tage
              </span>
              <span *ngIf="offers[0].latestOffer.endDate">
                (Ende: {{offers[0].latestOffer.endDate | date:'dd.MM.YY'}})
              </span>
            </div>
            <div>
              <span *ngIf="offers[0].latestOffer.rewardToken">
                Reward-Token: {{offers[0].latestOffer.rewardToken}}
              </span>
              <span *ngIf="offers[0].latestOffer.rewardTokenRatio">
                (Ratio: {{offers[0].latestOffer.rewardTokenRatio}} : 1)
              </span>
            </div>
            <div>
              <span *ngIf="offers[0].latestOffer.updated">
               (Stand: {{offers[0].latestOffer.updated | date:'dd.MM.YYYY'}})
              </span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="collapse {{collapse ? 'show' : ''}}" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <div>
        Über das Produkt:
      </div>
      <div class="mt-4">
        {{product.howTo.text}}
      </div>
      <div class="mt-4" *ngIf="product.url">
        <i class="fa fa-send"></i> Mehr Information auf der
        <a href="{{product.url}}" target="_blank">Webseite von {{provider.name}}</a>.
      </div>
      <div class="mt-4">
        Aktuelle Angebote / Renditen:
      </div>
      <div class="mt-4" *ngIf="product.howTo.image">
        <img src="/assets/{{product.howTo.image}}">
      </div>
      <div class="mt-4" *ngIf="product.howTo.video">
        <i class="fa fa-video-camera"></i> Sie dir auch ruhig das
        <a href="{{product.howTo.video}}" target="_blank">Video auf Youtube</a> an.
      </div>
      <div class="mt-4" *ngIf="product.howTo.blog">
        <i class="fa fa-newspaper-o"></i> Oder lies dir diesen interessanten
        <a href="{{product.howTo.blog}}" target="_blank">Blogpost</a> durch.
      </div>
      <hr/>
      <div class="mt-4">
        Über den Anbieter:
      </div>
      <div class="mt-4" *ngIf="provider.logo_url">
        <img src="{{provider.logo_url}}">
      </div>
      <div>
        {{provider.description}}
      </div>
      <div class="mt-4" *ngIf="provider.url">
        <i class="fa fa-send"></i> Mehr Information zum Anbieter findest du auf der
        <a href="{{provider.url}}" target="_blank">der Webseite von {{provider.name}}</a>.
      </div>
    </div>
  </div>
</div>
<ng-template #showError>
  Dieses Produkt konnte leider nicht gefunden werden.
</ng-template>

