// Other
$fa-font-path: "~font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome";

@import "../node_modules/startbootstrap-sb-admin-2/vendor/bootstrap/scss/bootstrap";
@import "../node_modules/startbootstrap-sb-admin-2/scss/sb-admin-2";

.chart-area {
 height: auto !important;
}

.btn-link{
  cursor: pointer;
}

.badge-large {
  font-size: 120%;
}

.badge {
  cursor: pointer;
}
