<!-- Begin Page Content -->
<div class="container-fluid">
  
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Verdienst du schon mit deinen Coins?</h1>
  </div>
  
  
  <!-- Content Row -->
  <div class="row">
  
  
    <!-- Area Chart -->
    <div class="col-12">
      Lass deine Coins für dich arbeiten. Wir analysieren dein Portfolio und helfen bei der Optimierung.
    </div>
    
    <div class="hero">
  
      <div class="usps">
        Unsere Software
        <div>
          <i class="fa fa-check-circle"> analysiert dein Portfolio</i>
        </div>
        <div>
          <i class="fa fa-check-circle"> zeigt Schwächen auf</i>
        </div>
        <div>
          <i class="fa fa-check-circle"> hilft bei der Optimierung</i>
        </div>
        <div>
          <i class="fa fa-check-circle"> erstellt eine Steuererklärung</i>
        </div>
      </div>
      
    </div>
    
    

  </div>
  
</div>
