<!-- Begin Page Content -->
<div class="container-fluid">
  
  <!-- Page Heading -->
  <div class="text-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Verdienst du schon mit deinen Coins?</h1>
  </div>
  
  
  <!-- Content Row -->
  <div class="row">
  
  
    <div class="col-12 text-center">
      HODLen ist gut. Aber HODLen und dabei Erträge generien ist noch besser.
      Bei Coingarden versuchen wir unter den vielen Angeboten die zu deinem
      Risikoappetit passenden Produkte und Angebote zu finden.
    </div>
    
    <div class="hero">
  
      <div class="usps">
        Bei CoinGarden kannst du
        <h5 class="mb-2 mt-2">
          <i class="fa fa-check-circle"> dich informieren und </i>
        </h5>
        <h5 class="mb-2 mt-2">
          <i class="fa fa-check-circle"> mehr als 300 Angebote vergleichen. </i>
        </h5>
      </div>
      
    </div>
    

  </div>
  
</div>
