<!-- Begin Page Content -->
<div class="container-fluid">
  <ng-container *ngIf="selectedBlog.id; else showAllBlogs">
    <div class="text-center mb-4">
      <h1 class="h3 mb-0 text-gray-800">{{selectedBlog.name}}</h1>
      <div class="small">
        Vom {{selectedBlog.date | date:'dd.MM.YYYY'}}
      </div>
    </div>
    
    <div *ngFor="let blogDataItem of selectedBlog.data">
      <h5 class="mb-3" *ngIf="blogDataItem.header">
        {{blogDataItem.header}}
      </h5>
      <p *ngIf="blogDataItem.text && !blogDataItem.blog">
        {{blogDataItem.text}}
      </p>
      <img *ngIf="blogDataItem.image" src="{{blogDataItem.image}}">
      <p *ngIf="blogDataItem.blog">
        <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="{{blogDataItem.blog}}" target="_blank">{{blogDataItem.blog}}</a>
      </p>
      <p *ngIf="blogDataItem.video">
        <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="{{blogDataItem.video}}" target="_blank">{{blogDataItem.video}}</a>
      </p>
      <p *ngIf="blogDataItem.youtube">
        <app-youtube [videoId]="blogDataItem.youtube"></app-youtube>
      </p>
      <div *ngIf="blogDataItem.links">
        <p *ngFor="let link of blogDataItem.links">
          <a href="{{link}}" target="_blank">{{link}}</a>
        </p>
      </div>
    </div>
  </ng-container>
  
  <ng-template #showAllBlogs>
    <div class="text-center mb-4">
      <h1 class="h3 mb-0 text-gray-800">Unsere Blogposts</h1>
    </div>
  
    <div>
      <div class="card-body" *ngFor="let blog of blogPosts">
        <div class="card-title">
          <h5>
            <a [routerLink]="['/blog', blog.url]">{{blog.name}}</a>
          </h5>
          <div class="small">
            Vom {{blog.date | date:'dd.MM.YYYY'}}
          </div>
        </div>
        <p class="card-text">
          {{blog.data[0].text}} ... <a [routerLink]="['/blog', blog.url]">mehr</a>
        </p>
      </div>
    </div>
  </ng-template>
  
</div>
